body {
    background-image: url("http://img73.laughinggif.com/pic/HTTP3d3dy51bm9jZXJvLmNvbS93cC1jb250ZW50L3VwbG9hZHMvMjAxMy8xMS9oYWNrZXIuZ2lm.gif");
}

h1 {
  color: yellow;
  background-color: lightblue;
}
