<html>
	<head>
		<title>INDEX</title>
		<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="/css/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
	<h2 text-align="center">APP SELECTOR</h2>
		<div class="container">
			<% include ../partials/header %>
			<div class="container" id="b-container">
				<a href="http://127.0.0.1:40495/"><button style="height:150px;width:150px">ANGULAR APP</button></a>
				<a href="http://127.0.0.1:8080/"><button style="height:150px;width:150px">WEATHER APP</button></a>
				<a href="http://127.0.0.1:3001/"><button style="height:150px;width:150px">MINIFLIX APP</button><a>
			</div>
			<iframe src="http://127.0.0.1:8080/"  height="500px" width="900px" style="border:none;"></iframe>
		</div>
	</body>
</html>
